*
{
    margin: 0;
    padding: 0;
    color: black;

}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

body
{
    background-color: #ffffff;
    color: rgb(31, 31, 31);
}

.t-p
{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}

.title-line
{
    display: flex;
}

.title-line img
{
    height: 80px;
}

.main-body
{
    height: 4700px;
    width: 100%;
}

.title
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tag-p
{
    font-family: "Roboto", sans-serif;
    /* font-family: "Notable", sans-serif; */
}

/*----------------------------------------- wide card --------------------------------*/



.wide-card-section
{
    height: 650px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#wide-card
{
    height: 200px;
    width: 400px;
    transition: 1s;
}

#wide-card:hover
{
    /* transform: translateY(-20px); */
}

#wide-card img
{
    height: 199px;
    width: 200px;
    border-radius: 5px;
}


/* carousel */

.carousel-header
{
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.carouselExampleAutoplaying
{
    color: black;
}

.carousel-caption
{
    color: black;
}

.d-block
{
    filter: brightness(0.99);
}



.carousel-item img
{
    height: 400px;
    width: 100%;
    /* max-width: 80%; */
}


/* card */

.card
{
    height: 18rem;
    width: 17rem;
    margin: 10px;
    background-color: gray;
    /* background-color: white; */
    color: white;
    /* color: black; */
    transition: 1s;
    border: none;
    box-shadow: gray 0px 0px 40px 0px ;
}

.card:hover
{
    
    transform: translateY(-20px);
}

.card-title
{
    color: white;
}

.card-text
{
    /* color: black; */
    color: white;
    font-size: 13px;
}

.card-img-top
{
    height: 9rem;
}


/* top */

.top-rec
{
    height: 450px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-rec h1
{
    width: 100%;
}

#card-ro
{
    transition: 2s;
    border: none;
}

#card-ro div:hover ,#collapseExample div:hover
{
    transform: none;
}

#card-ro:active
{
    transform: rotate(90deg);
}



.form-as
{
    height: 400px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(222, 221, 219);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    
}




.as-1
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-1 img
{
    width: 80%;
}

.as-2
{
    padding: 100px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input
{
    margin: 10px;
    height: 30px;
    border: black solid 3px;
    border-radius: 10px;
    text-align: center;
}

.radio
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    font-size: 6px;
}


footer
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: rgb(158, 205, 205); */
}

footer a
{
    font-size: 15px;
    margin: 5px;
    font-weight: 600;
    /* transition: 1s; */
}

footer a:hover
{
    font-weight: 800;
}

footer li
{
    width: 50px;
}

.bottom-pg
{
    height: 100px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-pg img
{
    height: 60px;
}



@media all and (max-width:1000px)
{
    .tag-p
    {
        font-size: 10px;
    }

    .main-body
    {
        height: 5650px;
    }

    .carousel-header
    {
        height: 300px;
        width: 450px;
    }
    
    .carousel-item img
    {
        height: 250px;
    }


    /* ----wider card---- */


    .wide-card-section
    {
        height: 1000px;
        margin-bottom: 100px;
    }

    #wide-card
    {
        height: 380px;
        width: 130px;
    }

    #wide-card img
    {
        height: 165px;
        width: 130px;
    }



    .top-rec
    {
        height: 600px;
    }

    .card
    {
        height: 13rem;
        width: 10rem;
    }

    .card-img-top
    {
        height: 6rem;
        width: 10rem;
    }
    .card-text
    {
        font-size: 10px;
    }
    .card-title
    {
        font-size: 12px;
    }

    .btn
    {
        height: 30px;
        width: 70px;
        font-size: 10px;
        padding: 5px;
    }
        
    .bottom-pg img
    {
        height: 30px;
    }
    footer
    {
        font-size: 10px;
        height: 400px;
    }

    footer a
    {
        font-size: 10px;
    }
}