
body
{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

li
{
    margin: 20px;
    list-style-type: none;
}

h2
{
    margin: 20px;
}

header
{
    margin-top: 70px;
    margin-bottom: 50px;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center ;
}
header p
{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: rgb(30, 29, 29);
}

header img
{
    height: 50px;
}
.header-compos
{
    height: 100px;
    margin-left: 600px;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Catamaran", sans-serif;
    color: rgb(68, 68, 69);
}

.aside1
{
    width: 70%;
    height: 100dvh;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.aside1 div
{
    margin: 10px;
    height: 500px;
    overflow-y: auto;
    box-shadow: 0px 0px 20px 0px black ;
    border-radius: 10px;
}

.aside2
{
    width: 30%;
    height: 100dvh;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.aud-1
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-ctrl
{
    height: 130px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button
{
    height: 10px;
}

.ad-wave-ic
{
    height: 50px;
    margin:0px 0px -5px 25px
}

.cucu
{
    height: 50px;
}

.small
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.small div img
{
    margin-top: -50px;
    margin: -50px 0px 0px 40px;
}



@media all and (max-width:1000px) {
    .header-compos
{
    height: 100px;
    margin-left: 0px;
}

header p
{
    font-size: 30px;
}

.aside1
{
    width: 50%;
}
.aside2
{
    width: 40%;
}

.aud-1
{
    height: 290px;
}
.aud-2
{

}

.audio-ctrl
{
height: 190px;
width: 200px;
font-size: 10px;

}
.audio-ctrl audio
{
    width: 150px;
}

.ad-wave-ic
{
    height: 30px;
    margin:0px 0px -5px 25px
}
.cucu
{
    height: 30px;
}

audio
{
    margin-top: 0;
    width: 200px;
}

.small
{
    flex-wrap: wrap;
}

.small div img
{
    height: 30px;
    margin-top: 0;
}

h2 img
{
    height: 26px;
}

}








::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: rgb(152, 150, 150);
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(rgb(151, 148, 148) ,white, rgb(236, 211, 211), white, rgb(155, 153, 153));
}

